language: python

virtualenv:
  system_site_packages: true
  
env:
  matrix:
    - DISTRIB="ubuntu" PYTHON_VERSION="2.7" INSTALL_ATLAS="true"
      COVERAGE="true"
    # This environment tests the oldest supported anaconda env
    - DISTRIB="conda" PYTHON_VERSION="2.7" INSTALL_MKL="false"
      NUMPY_VERSION="1.8.1" SCIPY_VERSION="0.13.3"
      SKLEARN_VERSION="0.14.1" MATPLOTLIB_VERSION="1.3.1"
    # This environment tests the newest supported anaconda env
    - DISTRIB="conda" PYTHON_VERSION="3.3" INSTALL_MKL="true"
      NUMPY_VERSION="1.8.1" SCIPY_VERSION="0.13.3"
      SKLEARN_VERSION="0.14.1" MATPLOTLIB_VERSION="1.3.1"
      
install: source distributions/ci/install.sh

script:
  - nosetests --with-coverage --cover-package=scot,eegtopo --cover-inclusive --cover-branches

#after_success:
#    - if [[ "$COVERAGE" == "true" ]]; then coveralls; fi

cache: apt
