language: python

sudo: false

virtualenv:
  system_site_packages: true
  
env:
  matrix:
    #- DISTRIB="ubuntu" PYTHON_VERSION="2.7" INSTALL_ATLAS="true"

    # This environment tests compatibility with oldest supported package versions
    - DISTRIB="conda" PYTHON_VERSION="2.7" INSTALL_MKL="false"
      NUMPY_VERSION="1.8.0" SCIPY_VERSION="0.13.3"
      SKLEARN_VERSION="0.15.0" MATPLOTLIB_VERSION="1.4.0"
      INSTALL_SCOT="true" RUN_EXAMPLES="false" INSTALL_FORTRAN="true"

    # This environment tests Python 2 support
    - DISTRIB="conda" PYTHON_VERSION="2.7" INSTALL_MKL="true"
      NUMPY_VERSION="1.10.1" SCIPY_VERSION="0.16.0"
      SKLEARN_VERSION="0.17.0" MATPLOTLIB_VERSION="1.5.1"
      INSTALL_SCOT="true" RUN_EXAMPLES="false" INSTALL_FORTRAN="false"

    # This environment tests Python 3 support
    - DISTRIB="conda" PYTHON_VERSION="3.4" INSTALL_MKL="false"
      NUMPY_VERSION="1.10.1" SCIPY_VERSION="0.16.0"
      SKLEARN_VERSION="0.17.0" MATPLOTLIB_VERSION="1.5.1"
      COVERAGE="true"
      INSTALL_SCOT="true" RUN_EXAMPLES="false" INSTALL_FORTRAN="false"
      
install: source distributions/ci/install.sh

script: source distributions/ci/run_tests.sh

after_success:
    - if [[ "$COVERAGE" == "true" ]]; then coveralls; fi

cache: apt
